body {
	font-family: 'Courier New', Courier, monospace;
	background: #2d2d2d;
	color: #f0f0f0;
	padding: 20px;
	margin: 0;
}

h1 {
	text-align: center;
	color: #f0f0f0;
	font-size: 2em;
	margin-bottom: 30px;
}

.table-container {
	margin: 20px 0;
	background-color: #333;
	border: 1px solid #444;
	padding: 10px;
}

.table-container h3 {
	color: #f0f0f0;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.table-container table {
	width: 100%;
	border-collapse: collapse;
	font-size: 1em;
	color: #f0f0f0;
}

.table-container table th, .table-container table td {
	padding: 8px;
	border: 1px solid #444;
	text-align: left;
}

.table-container table th {
	background-color: #4f4f4f;
	font-weight: bold;
}

.table-container table tr:nth-child(even) {
	background-color: #3b3b3b;
}

.table-container table tr:nth-child(odd) {
	background-color: #333;
}

.table-container table tr:hover {
	background-color: #575757;
}

.error-message {
	text-align: center;
	color: #ff6f6f;
	font-size: 1.2em;
	margin-top: 20px;
}

.back-button {
	align-items: center;
	align-content: center;
	background-color: #4f4f4f; /* Color oscuro del botón */
	color: #f0f0f0; /* Texto blanco */
	font-family: 'Courier New', Courier, monospace;
	/* Tipografía monoespaciada */
	padding: 5px 10px;
	border: 1px solid #444; /* Bordes más oscuros */
	border-radius: 5px;
	font-size: 1.1em;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	margin-top: 5px;
	display: inline-block;
	text-align: center;
}

.back-button:hover {
	background-color: #777; /* Color más claro al pasar el cursor */
	transform: translateY(-2px); /* Efecto de elevación */
}

.back-button:active {
	background-color: #333; /* Color aún más oscuro cuando se hace clic */
	transform: translateY(0); /* Eliminar el efecto de elevación */
}

.centered-form {
	text-align: center; /* Centra el contenido dentro del form */
}