* {
	font-family: 'JetBrains Mono', monospace;
	/*font-family: 'console', monospace;*/
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: url('../img/BackgroundProfile.jpg') no-repeat center center
		fixed;
	background-size: cover;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.profile-container {
	width: 400px;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
	margin: auto;
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

input {
	width: 90%;
	padding: 8px;
	margin: 10px 0;
	border-radius: 5px;
	border: none;
	font-size: 14px;
}

button {
	margin-top: 15px;
	padding: 10px 20px;
	background: #0078D7;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background: #005a9e;
}

.cancel-button {
	background: #ff4757;
}

.cancel-button:hover {
	background: #e84118;
}